<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/index.css")
        title Votación
    body
        header.header
            img.logo(src="/css/logo.png", alt="")
            h1 U.E.P Isabel Maldonado Blanco
                p Votación para ajuste de mensualidad
                p Periodo 2020-2021

        article.content
            .instructions
                p – Seleccione el grado donde se encuentre inscrito su representado. Si tiene más de uno, seleccione el grado de su representado de mayor edad.
                p – Seleccione en la lista el apellido o los apellidos de la familia a la cual pertenece.
                p – Seleccione la opción de su preferencia.
                P – Presione el botón “Votar.


            form#form.form(action="/send" method="POST")
                h1.title Votación 
                label.label(for="grade") Grado:
                select#grade.grade.item(name="grade")
                    option(value="none") Seleccione una opción
                    option(value="1") Kinder
                    option(value="2") Preparatiorio
                    option(value="3") 1er Grado
                    option(value="4") 2do Grado
                    option(value="5") 3ro Grado
                    option(value="6") 4to Grado
                    option(value="7") 5to Grado
                    option(value="8") 6to Grado
                    option(value="9") 1er Año
                    option(value="10") 2do Año
                    option(value="11") 3ro Año
                    option(value="12") 4to Año 
                    option(value="13") 5to Año
                label.label(for="familia") Familia :
                select#family.item(type="text", name="family" disabled)
                label.label.question(for="answer") ¿Está usted de acuerdo con el aumento de la mensualidad?
                .divs
                    .divYes
                        label.title(for="yes") Si
                        input#yesCheck(type="checkbox", name="vote" value="yes")
                    .divNo
                        label.title No
                        input#noCheck(type="checkbox", name="vote" value="no")
                button#button.btn(type="submit") Aceptar
            .considerations
                P – Revise cuidadosamente que haya seleccionado los apellidos de la familia a cuál pertenece.
                p – Una vez realizado el voto, los apellidos de su familia no aparecerán en el listado.
                P – Si desea conocer los resultados, puede consultarlos haciendo clic en el enlace “Ver resultados”
                P – Si presenta algún inconveniente con el proceso, contacte vía Whatsapp al número (0414) - 6206246

            //- a.link(href="/result") Ver resultados
        #abs-message.abs-message
            .abs-div
                p ¿Está seguro que su decisión es...?
                p#choise

                .buttons
                    button#cancel Cancelar
                    button#continue Continuar


        script(src="/scripts/indx.js")