html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/percent.css")
        title Document
    body
        header.header
            img.logo(src="/img/logo.png", alt="")
            h1 U.E.P Isabel Maldonado Blanco
                p Votación para ajuste de mensualidad
                p Periodo 2020-2021

        article.content 

        script(src="/scripts/percent.js")