body {
  position: relative;
  font-family: sans-serif;
  color: #393b44;
  width: 100vw;
  height: auto;
  margin: 0px;
  overflow-x: hidden; }

.header {
  width: 100%;
  background-color: #0278ae;
  min-height: 15vh;
  display: flex;
  grid-auto-columns: 1fr;
  color: white;
  box-sizing: border-box; }
  .header h1 {
    font-size: calc( 12px + 2vw);
    margin: auto;
    line-height: 1.2em;
    text-align: center;
    margin: auto; }
  .header .logo {
    width: auto;
    min-height: 3vw;
    max-height: 10vh;
    border: none;
    margin: 1vh 1em; }

.content {
  width: 100vw;
  height: auto;
  margin: auto;
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .content .instructions, .content .considerations {
    height: auto;
    margin: auto 2em;
    font-size: 1.2em; }
    .content .instructions h1, .content .considerations h1 {
      text-align: center; }
  .content .form {
    height: auto;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    background-color: #f6f5f5;
    border: 1px solid black;
    padding: 1em; }
    .content .form .grade {
      font-size: 1.2em;
      height: 2em; }
    .content .form .item {
      margin: .5em;
      font-size: 1.2em;
      padding: .2em; }
    .content .form .title {
      margin: 0px auto;
      font-size: 2em; }
    .content .form .label {
      font-size: 1.4em;
      margin: .5em; }
    .content .form .divs {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: .5em; }
      .content .form .divs div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        padding: 1em; }
        .content .form .divs div .title {
          font-size: 1.6em;
          margin: auto; }
        .content .form .divs div input {
          height: 1.5em;
          width: 1.5em;
          margin-top: 3px;
          margin-right: 5px; }
    .content .form .btn {
      min-width: 150px;
      padding: 1rem 2rem;
      margin: .5rem auto;
      background-color: #81b214;
      border: none;
      color: white;
      font-size: 1.2em; }

.question {
  margin: 2em auto 0px !important;
  font-weight: bold;
  text-align: center; }

.link {
  width: 200px;
  margin: .5em auto;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center; }

.abs-message {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  background-color: #0000006c;
  box-sizing: border-box;
  z-index: 5; }
  .abs-message .abs-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    width: 80vw; }
    .abs-message .abs-div p {
      text-align: center;
      font-size: 1.5em; }
    .abs-message .abs-div .buttons {
      display: flex;
      margin: 1.5em 0px; }
      .abs-message .abs-div .buttons #continue {
        background-color: #81b214;
        border: none;
        color: white;
        padding: 1rem;
        margin: 0px auto;
        font-size: 1.2em; }
      .abs-message .abs-div .buttons #cancel {
        background-color: #931a25;
        border: none;
        color: white;
        padding: 1rem;
        margin: 0px auto;
        font-size: 1.2em; }

#choise {
  margin: 0px;
  font-weight: bold; }

.flex-item {
  width: 80%;
  margin: auto; }
